# Data folders (runtime / generated)
archive/
inbox/

# Config credentials (IMPORTANT)
config/config.yaml
config/config.yml

# dbt credentials (if exists)
dbt/profiles.yml

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store